@media screen and (min-width: 375px)
{
    .back{
        background-color: white;
        padding-top: 1px;
        padding-left: 40px;
        padding-bottom: 8px;
    }

    .box{
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 90%;
        padding-top: 1px;
    }

    .col1{
        background-color: hsl(31, 77%, 52%);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 100%;
        height: 80%;
    }

    .img1{
        padding-top: 20px;
        padding-left: 40px;
    }

    .title1{
        font-size: 40px;
        color:  hsl(0, 0%, 95%);
        font-family: 'Big Shoulders Display', cursive;
        margin-top: 10px;
        margin-left: 50px;
        
    }

    .p1{
        font-family: 'Lexend Deca', sans-serif;
        color: hsla(0, 0%, 100%, 0.75);
        font-size: 13px;
        line-height: 21px;
        margin-top: 1px;
        margin-left: 50px;
        margin-right: 30px;
    }

    .learn1{
        background-color: hsl(0, 0%, 95%);
        border-radius: 12px;
        width: 110px;
        height: 38px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .l1{
        color: hsl(31, 77%, 52%);
        padding-top:10px;
        padding-left: 20px;
        font-family: 'Lexend Deca', sans-serif;
        font-size: 13px;
    }

    .col2{
        background-color: hsl(184, 100%, 22%);
        height: 80%;
    }

    .img2{
        padding-top: 20px;
        padding-left: 40px;
    }

    .title2{
        font-size: 40px;
        color:  hsl(0, 0%, 95%);
        font-family: 'Big Shoulders Display', cursive;
        margin-top: 10px;
        margin-left: 50px;
    }

    .p2{
        font-family: 'Lexend Deca', sans-serif;
        color: hsla(0, 0%, 100%, 0.75);
        font-size: 13px;
        line-height: 21px;
        margin-top: 2px;
        margin-left: 50px;
        margin-right: 30px;
    }

    .learn2{
        background-color: hsl(0, 0%, 95%);
        border-radius: 12px;
        width: 110px;
        height: 38px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .l2{
        color: hsl(184, 100%, 22%);
        padding-top:10px;
        padding-left: 20px;
        font-family: 'Lexend Deca', sans-serif;
        font-size: 13px;
    }

    .col3{
        background-color: hsl(179, 100%, 13%);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        margin-bottom: 4px;
        height: 80%;
    }

    .img3{
        padding-top: 20px;
        padding-left: 40px;
    }

    .title3{
        font-size: 40px;
        color:  hsl(0, 0%, 95%);
        font-family: 'Big Shoulders Display', cursive;
        margin-top: 10px;
        margin-left: 50px;
    }

    .p3{
        font-family: 'Lexend Deca', sans-serif;
        color: hsla(0, 0%, 100%, 0.75);
        font-size: 13px;
        line-height: 21px;
        margin-top: 2px;
        margin-left: 50px;
        margin-right: 30px;
    }

    .learn3{
        background-color: hsl(0, 0%, 95%);
        border-radius: 12px;
        width: 110px;
        height: 38px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .l3{
        color: hsl(179, 100%, 13%);
        padding-top:10px;
        padding-left: 20px;
        font-family: 'Lexend Deca', sans-serif;
        font-size: 13px;
    }
}


@media screen and (min-width: 1440px)
{
    .back{
        background-color: white;
        padding-top: 140px;
        padding-left: 310px;
    }

    .box{
        display: flex;
        flex-direction: row;
        height: 60vh;
        width: 60vw;
    }

    .col1{
            background-color: hsl(31, 77%, 52%);
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            border-top-right-radius: 0px;
            height: 422px;
        }

    .img1{
        padding-top: 20px;
        padding-left: 40px;
    }

    .title1{
        font-size: 40px;
        color:  hsl(0, 0%, 95%);
        font-family: 'Big Shoulders Display', cursive;
        margin-top: 50px;
        margin-left: 50px;
    }

    .p1{
        font-family: 'Lexend Deca', sans-serif;
        color: hsla(0, 0%, 100%, 0.75);
        font-size: 13px;
        line-height: 21px;
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 90px;;
    }

    .learn1{
        background-color: hsl(0, 0%, 95%);
        border-radius: 12px;
        width: 110px;
        height: 38px;
        margin-left: 50px;
        margin-top: 60px;
    }

    .l1{
        color: hsl(31, 77%, 52%);
        padding-top:10px;
        padding-left: 20px;
        font-family: 'Lexend Deca', sans-serif;
        font-size: 13px;
    }

    
    
    .col2{
        background-color: hsl(184, 100%, 22%);
        height: 422px;
    }

    .img2{
        padding-top: 20px;
        padding-left: 40px;
    }

    .title2{
        font-size: 40px;
        color:  hsl(0, 0%, 95%);
        font-family: 'Big Shoulders Display', cursive;
        margin-top: 50px;
        margin-left: 50px;
    }

    .p2{
        font-family: 'Lexend Deca', sans-serif;
        color: hsla(0, 0%, 100%, 0.75);
        font-size: 13px;
        line-height: 21px;
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 90px;;
    }

    .learn2{
        background-color: hsl(0, 0%, 95%);
        border-radius: 12px;
        width: 110px;
        height: 38px;
        margin-left: 50px;
        margin-top: 60px;
    }

    .l2{
        color: hsl(184, 100%, 22%);
        padding-top:10px;
        padding-left: 20px;
        font-family: 'Lexend Deca', sans-serif;
        font-size: 13px;
    }

    .col3{
        background-color: hsl(179, 100%, 13%);
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 0px;
        height: 422px;
    }

    .img3{
        padding-top: 20px;
        padding-left: 40px;
    }

    .title3{
        font-size: 40px;
        color:  hsl(0, 0%, 95%);
        font-family: 'Big Shoulders Display', cursive;
        margin-top: 50px;
        margin-left: 50px;
    }

    .p3{
        font-family: 'Lexend Deca', sans-serif;
        color: hsla(0, 0%, 100%, 0.75);
        font-size: 13px;
        line-height: 21px;
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 90px;;
    }

    .learn3{
        background-color: hsl(0, 0%, 95%);
        border-radius: 12px;
        width: 110px;
        height: 38px;
        margin-left: 50px;
        margin-top: 38px;
    }

    .l3{
        color: hsl(179, 100%, 13%);
        padding-top:10px;
        padding-left: 20px;
        font-family: 'Lexend Deca', sans-serif;
        font-size: 13px;
    }

}